* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    padding: 0;
}

button {
    border-radius: 10px;
    font-size: 5vh;
    margin: 5px;
}

#calculator {
    width: max(300px, 50%);
    height: 90vh;
    background-color: darkblue;
    margin: 5vh auto 5vh auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

#display {
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    font-size:7vh;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 5%;
}
